h1 {
    color: green;
    text-align: center;
    margin: auto;
    font-family: 'Lobster', cursive;
}

.container1 {
    box-sizing: border-box;
    background: rgb(245,244,242);
    background: radial-gradient(circle, rgba(245,244,242,1) 0%, rgba(149,145,145,0.6914556962025317) 88%, rgba(47,47,46,1) 100%);
    border: ridge 5px;
    border-color: rgb(201, 166, 13);
    
}

.container2 {
    box-sizing: border-box;
    border: ridge 5px;
    background: rgb(228,193,0);
    background: radial-gradient(circle, rgba(228,193,0,0) 0%, rgba(9,121,33,1) 35%, rgba(0,255,54,0.30379746835443033) 100%);
}

body {
    padding: 0px;
    display: grid;
    margin: auto;
    height: 60vmin;
    width: 80vmin;
    background-color: ivory;
}

.query-zone {
    background: rgb(253, 253, 253);
    background: linear-gradient(180deg, rgb(252, 249, 245) 0%, rgba(149,145,145,0.6914556962025317) 58%, rgba(238,204,88,1) 120%);
    height: 30vmin;
    margin: 5vmin 5vmin;
    font-size: xx-large;
    border-style: inset;
    font-family: 'Rowdies', cursive;
    text-align: center;
}
.answer-zone {
    height: 5vmin;
    margin: 0px 15vmin 10vmin 15vmin;

}
.answer-sheet {
    background-color: white;
    height: 10vmin;
    width: 30vmin;
    margin: 0px 10vmin 10vmin;
    font-size: xx-large;
    text-align: center;
}
.sub-btn {
    background-color: white;
    height: 5vmin;
    width: 15vmin;
    margin: 0 33vmin 1vmin 33vmin;
    font-size: large;
    font-weight: bold;
}

.button-zone {
    width: 70vmin;
    margin: 0vmin auto 0px auto;
    font-size: xx-large;

}

#wager-button {
color: gold;
background-color: rgb(75, 85, 58);
border-radius: 10% 10% 10% 50%;
height: 10vmin;
width: 20vmin;
margin: 5px 0 0 5px;
outline-style: none;
font-size: xx-large;
}

#next {
width: 15vmin;
margin: 0 0 5px 60vmin;
color: black;
font-size: large;
font-weight: bolder;
}

#new-game {
width: 19vmin;
margin: 0 0 5px 58vmin;
color: black;
font-size: large;
font-weight: bolder;
}
